body * {
    padding: 0;
    margin: 0;
}


body {
    font-family: 'Roboto', sans-serif;
    background-image: url(./img/65827.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    color: white;
    background: rgb(51, 51, 51);
}

header .linkss a {
    display: inline-flex;
    padding: 10px;
    list-style: none;
    text-decoration: none;
    color: white;
}

h1{
    margin: 10px;
}

.detalhes img{
    width: 100px;
}